# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Archivos de configuración/credenciales
*.env
.env.*

# Archivos temporales
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Cache y archivos de compilación
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Configuración local de Django
media/
staticfiles/
static/

# Archivos de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# Migraciones (opcional)
# Solo ignóralas si estás seguro de que no quieres subirlas
# */migrations/*
# ¡Lo común es que SÍ se suban!
